.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.hangman {
  text-align: center;
}

.btn-info {
  margin-left: 25%;
}

.header {
  display: flex;
  margin-top: 1%;
}

.title {
  margin-left: 40%;
}

@media all and (max-device-width: 480px) {
  .hangman {
    flex-direction: column;
  }

  .header {
    flex-direction: column;
    height: 15%;
  }

  .title {
    margin-left: 3%;
  }

  .btn-info {
    margin: 0 auto;
    width: 50%;
    margin-top: 10px;
  }
  
}
